<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel='stylesheet' href='/css/style.css'>
        
        <title>
            StoryBook
        </title>
    </head>

    <body>
        {{> _header}}
        {{> _add_btn}}
        <div class="container">
            {{{body}}}
        </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.0/ckeditor.js"
            integrity="sha512-bNMnTgKRxN1n+5rgfcf160HT2koHRcwLcSq/3JDOY9R65mja48E4Hh+a+IQXVaY2NoJCVC+pr0qE3Vz194QwnA=="
            crossorigin="anonymous"></script>
        <script>
            M.Sidenav.init(document.querySelector('.sidenav'))
            M.FormSelect.init(document.querySelector('#status'))

            CKEDITOR.replace('body', {
                plugin: 'wysiwyfarea, toolbar, basicstyles, link'
            })
        </script>
    </body>
</html>